@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#__next {
  height: 100vh;
}
body {
  font-family: 'Kanit', sans-serif !important;
}
.navbar:hover {
  background-color: #ffffff22;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.imagebackground {
  position: absolute;
  width: 370px;
  height: 740px;
  top: -60px;
  left: -50px;
  z-index: -1;
}
.recharts-pie-label-line {
  display: none;
}
a {
  color: white !important;
}
